.fs08 {
  font-size: 0.8rem;
}

.fs10 {
  font-size: 1rem;
}

.fs15 {
  font-size: 1.5rem;
}

.fs20 {
  font-size: 2rem;
}


.fsv20 {
  font-size: clamp(12px, 5.5vw, 20px);
}


.fsv25 {
  font-size: clamp(14px, 6.25vw, 25px);
}

.fsv30 {
  font-size: clamp(16px, 7vw, 30px);
}

.fsv35 {
  font-size: clamp(18px, 7.75vw, 35px);
}